<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DBModelContainer" connectionString="metadata=res://*/DBModel.csdl|res://*/DBModel.ssdl|res://*/DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=123.206.25.233,54322;initial catalog=Lantola;persist security info=True;user id=sa;password=lantola@159632;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="tencent_cloud" value="https://yun.tim.qq.com/v5/tlssmssvr/sendsms" />
    <add key="SDK_AppID" value="1400095759" />
    <add key="App_Key" value="3bf3ce0ef36f8d1f33f0c73e22c3d593" />
    <!--微信支付配置-->
    <add key="WXAPPID" value="wxe3986f34c73a20f2" /> 
    <add key="MCHID" value="1507219281" /> <!--商户号-->
    <add key="KEY" value="FAA4709FC41912E57324538E36C4710D" /> <!--支付平台秘钥-->
    <add key="APPSECRET" value="FAA4709FC41912E57324538E36C4710D" /> 
    <add key="NOTIFY_URL" value="http://www.Lantola.com:8099/Pay/WxNotify" /> <!--回调通知地址-->
    <add key="IP" value="58.246.98.30" /> <!--服务器IP-->
    <!--支付宝配置-->
    <add key="alipay_public_key" value="1507219281" />
    <add key="merchant_private_key" value="FAA4709FC41912E57324538E36C4710D" /> <!--开发者私钥-->
    <add key="merchant_public_key" value="FAA4709FC41912E57324538E36C4710D" /> <!--开发者公钥-->
    <add key="alipayappId" value="" /> <!--应用ID-->
    <add key="pid" value="58.246.98.30" /> <!--合作伙伴ID：partnerID-->
    <add key="alipay_notify_url" value="http://www.Lantola.com:8099/Pay/AlipayNotify" /> <!--商户异步通知地址-->
    <!--网站配置-->
    <add key="HotelImgRoute" value="/WebUpload/Hotel/" /><!--酒店图片目录-->
    <add key="UserImgRoute" value="/WebUpload/User/" /><!--用户图片目录-->
    <add key="WebImgRoute" value="/WebUpload/Web/" /><!--网站图片目录-->
    <add key="ImgCompressLevel" value="50" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
    <system.webServer>
        <staticContent>
        </staticContent>
    </system.webServer>
</configuration>
