@{
    Layout = null;
}

<div class="sidebar ">

    <div class="sidebar-collapse">
        <div class="sidebar-header t-center">
            <span><img class="text-logo" src="~/Scripts/assets/img/logo1.png"></span>
        </div>
        <div class="sidebar-menu">
            <ul class="nav nav-sidebar">


                <li><a href="/Admin/Home/Index" class="active opened"><i class="fa fa-home"></i><span class="text"> 欢迎页</span></a></li>


                <li>
                    <a href="#"><i class="fa fa-group"></i><span class="text"> 酒店信息管理</span> <span class="fa fa-angle-down pull-right"></span></a>
                    <ul class="nav sub">
                        <li><a href="/Admin/Hotel/Examine"><i class="fa"></i><span class="text"> 酒店审核</span></a></li>
                        <li><a href="/Admin/Hotel/Policy"><i class="fa"></i><span class="text"> 酒店图标</span></a></li>
                        <li><a href="#"><i class="fa"></i><span class="text"> 酒店详情</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-gear"></i><span class="text"> 订单管理</span> <span class="fa fa-angle-down pull-right"></span></a>
                    <ul class="nav sub">
                        <li><a href="#"><i class="fa fa-key"></i><span class="text"> 待处理订单</span></a></li>
                        <li><a href="#"><i class="fa fa-key"></i><span class="text"> 已取消订单</span></a></li>
                        <li><a href="#"><i class="fa"></i><span class="text"> 所有订单</span></a></li>

                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-group"></i><span class="text"> 用户管理</span> <span class="fa fa-angle-down pull-right"></span></a>
                    <ul class="nav sub">
                        <li><a href="#"><i class="fa"></i><span class="text"> 酒店用户</span></a></li>
                        <li><a href="#"><i class="fa"></i><span class="text"> 住客用户</span></a></li>
                    </ul>
                </li>
               
                <li>
                    <a href="#"><i class="fa fa-gear"></i><span class="text"> 财务管理</span> <span class="fa fa-angle-down pull-right"></span></a>
                    <ul class="nav sub">
                        <li><a href="#"><i class="fa fa-key"></i><span class="text"> 账单结算</span></a></li>
                        <li><a href="#"><i class="fa fa-key"></i><span class="text"> 收支明细</span></a></li>

                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-gear"></i><span class="text"> 数据中心</span> <span class="fa fa-angle-down pull-right"></span></a>
                    <ul class="nav sub">
                        <li><a href="#"><i class="fa fa-key"></i><span class="text"> 网站流量</span></a></li>
                        <li><a href="#"><i class="fa fa-key"></i><span class="text"> 财务报表</span></a></li>
                        <li><a href="#"><i class="fa fa-key"></i><span class="text"> 系统日志</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-building"></i><span class="text"> 网站管理</span> <span class="fa fa-angle-down pull-right"></span></a>
                    <ul class="nav sub">
                        <li><a href="/Admin/SearchConfig/Config"><i class="fa"></i><span class="text"> 搜索页配置</span></a></li>
                        <li><a href="/Admin/Feature/Hotel"><i class="fa"></i><span class="text"> 特色酒店配置</span></a></li>
                        <li><a href="/Admin/Feature/Cooperative"><i class="fa"></i><span class="text"> 合作伙伴</span></a></li>
                        <li><a href="#"><i class="fa"></i><span class="text"> 站内消息发布</span></a></li>
                        <li><a href="#"><i class="fa"></i><span class="text"> 广告业务</span></a></li>
                        <li><a href="#"><i class="fa"></i><span class="text"> 关于我们</span></a></li>
                        <li><a href="#"><i class="fa"></i><span class="text"> 安全中心</span></a></li>
                        <li><a href="#"><i class="fa"></i><span class="text"> 使用帮助</span></a></li>
                        <li><a href="#"><i class="fa"></i><span class="text"> 营业执照</span></a></li>
                        <li><a href="#"><i class="fa"></i><span class="text"> 投诉建议</span></a></li>
                    </ul>
                </li>
                


                <li>
                    <a href="#"><i class="fa fa-gear"></i><span class="text"> 系统设置</span> <span class="fa fa-angle-down pull-right"></span></a>
                    <ul class="nav sub">
                        <li><a href="#"><i class="fa fa-key"></i><span class="text"> 修改密码</span></a></li>
                        <li><a href="#"><i class="fa fa-key"></i><span class="text"> 子账号设置</span></a></li>
                        <li><a href="#"><i class="fa"></i><span class="text"> 日志管理</span></a></li>

                    </ul>
                </li>


            </ul>

        </div>
    </div>
    <div class="sidebar-footer">

        <div class="sidebar-brand">
            Lantola
        </div>

        <ul class="sidebar-terms">
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">About</a></li>
        </ul>

        <div class="copyright text-center">
            <small>Lantola <i class="fa fa-coffee"></i> from <a href="http://www.lantola.com/" title="朗拓拉" target="_blank">朗拓拉</a></small>
        </div>
    </div>
</div>