
@{
    ViewBag.Title = "RegisterSuccess";
    Layout = "~/Views/Shared/_LayoutHeader.cshtml";
}
<style>
a{text-decoration:none!important;}
.top2 .login .denglu{background:none;}
.index29bg{background-color:#f7f7f7;overflow:hidden;height:100%;}
.index29bg #kong2{background-color:#f7f7f7;}
.index29content{margin:40px auto;width:1040px;background:#fff;border-radius:5px;border:1px solid #bfbfbf;padding:30px 80px;}
.index29title{color:#004b67;font-size:24px;line-height:30px;height:30px;}
.index29content1{height:150px;}
.index29content11{float:left;width:580px;line-height:40px;font-size:14px;color:#313131;padding:15px 0;}
.index29content12{float:left;width:400px;background-color:#e7f0f9;line-height:40px;padding:13px 30px;border-top:1px solid;font-size:14px;border-color:#bfbfbf;border-bottom:1px solid #e7f0f9;}
.index29content112{color:#4e92d2;}
.index29content121{border-bottom:1px solid #bfbfbf;}
.index29content122{float:left;color:#004b67;}
.index29content123{float:right;}
.index29content2{height:48px;line-height:48px;border-top:1px solid #bfbfbf;border-bottom:1px solid #bfbfbf;}
.index29content2 div{display:inline-block;}
.index29content21{font-size:16px;color:#1b1b1b;font-family:"SimHei";font-weight:bold;padding-right:20px;}
.index29content22{font-size:12px;color:#313131;line-height:48px;vertical-align:top;}
.index29content23{color:#ec6941;}
.index29content3{height:50px;line-height:50px;}
.index29content31{font-size:12px;color:#313131;/*vertical-align:bottom;*/}
.index29content32{font-size:16px;color:#ec6941;}
.index29content4{padding-bottom:20px;}
.index29content41{width:150px;height:60px;float:left;margin-right:20px;position:relative;background-position:center center;background-repeat:no-repeat;}
.index29content41 img{}
.index29content42{position:absolute;top:0;left:0;width:150px;height:60px;background-image:url(/Images/payicon4.png);background-size:100% 100%;cursor:pointer;}
.index29content43{background-image:url(/Images/payicon5.png);}
.index30content2{padding-top:30px;}
.index29content5{color:#313131;font-size:12px;height:40px;line-height:40px;}
#index354 input{width:120px;height:35px;display:block;border:0;color:#fff;font-size:14px;text-align:center;line-height:35px;padding:0;background-color:#4b90cf;font-family:"微软雅黑";border-radius:3px;box-shadow:0px 0px 5px #7e9fbb;cursor:pointer;}
#index354{display:block;margin:15px 0;}
/**/
.index30content{width:750px;margin:0 auto;padding:25px 0;}
.index30content1{height:100px;padding-bottom:40px;background-image:url(/Images/payicon6.png);background-position:center bottom;background-repeat:repeat-x;}
.index30content1img{height:100%;width:100px;float:left;padding-right:30px;}
.index30content1img img{height:100%;width:100%;}
.index30content1word{height:100%;width:620px;}
.index30content1word1{line-height:60px;height:60px;font-size:24px;color:#626262;}
.index30content1word2{line-height:40px;height:40px;font-size:14px;color:#7d7d7d;}
</style>
<div class="index29bg">
    <div class="index29content">
        <div class="index30content">
            <div class="index30content1">
                <div class="index30content1img"><img src="/Images/paysuccess.png" /></div>
                <div class="index30content1word">
                    <div class="index30content1word1">信息已成功提交</div>
                    <div class="index30content1word2">我们将在48小时内完成审核并短信通知您结果。</div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="index30content2">
                <div class="index29content5"><span class="index29content112">感谢注册，页面将在 <span>5</span>  秒后返回首页。</span></div>
            </div>

        </div>
    </div>
</div>
<script>
var Reciprocal=5;
$(document).ready(function(){
    setInterval('Reciprocals()', 1000);
    $(".index29bg").css("min-height",window.innerHeight-76-90);
})
function Reciprocals(){
	Reciprocal--;
	if(Reciprocal==0){window.location.href='/Home/Index';}
	$('.index29content112 span').html(Reciprocal);
}

</script>

