@model PagedList<HotelSystem.Model.Settlement>
@using Webdiyer.WebControls.Mvc
@{
    ViewBag.Title = "酒店账单结算历史";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" media="all" href="~/Scripts/assets/plugins/bootstrap-daterangepicker-master/daterangepicker.css" />

<div id="HistoryList">
    @Html.Partial("_HistoryList", Model);
</div>
@{Html.RegisterMvcPagerScriptResource();}
<script type="text/javascript" src="~/Scripts/assets/plugins/bootstrap-daterangepicker-master/moment.js"></script>
<script type="text/javascript" src="~/Scripts/assets/plugins/bootstrap-daterangepicker-master/daterangepicker.js"></script>
<script type="text/javascript" src="~/Scripts/assets/plugins/bootstrap-daterangepicker-master/language.js"></script>
<script>
    $(function () {

        var s = moment().add(-1, 'months');
        var e = moment();
        function setDateValue(start, end) {
            $("#start").val(start.format('YYYY-MM-DD'));
            $("#end").val(end.format('YYYY-MM-DD'));
        }
        setDateValue(s, e);
        $("#SearchDate").daterangepicker({
            "autoApply": true,
            "startDate": s.format('YYYY年MM月DD日'),
            "endDate": e.format('YYYY年MM月DD日'),
            "opens": "center",
            locale: locale
        }, function (start, end, label) {
            setDateValue(start, end);
        });
    });
</script>