@model IEnumerable<HotelSystem.Model.Activity>
@{
    ViewBag.Title = "活动";
    Layout = "~/Views/Shared/_LayoutHotel.cshtml";
}
<style>
    .media {
        font-family: "微软雅黑";
        max-height:220px;
    }

    .media-object {
        width: 100%;
    }

    .media-body {
        padding-left: 5px;
    }
    .media-heading a{
        font-size:12px;
    }
    .article {
        font-size: 14px;
        color: #535353;
        line-height: 25px;
        overflow: hidden;
        transition: height 500ms linear;
    }
    .article p:last-child{
        text-overflow: ellipsis;
    }
</style>
<div class="container-fluid" style="padding-top:30px;background: rgb(234,234,234);min-height:700px;">
    <div class="container">
        @foreach (var item in Model)
            {
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media view">
                        <div class="media-left col-md-4" style="padding-left:0px;">
                            <a href="javascript:;">
                                <img class="media-object" src="@item.Images" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <p class="media-heading" style="font-family: '微软雅黑';font-size:18px;">@item.Title &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                            <a href="javascript:;" onclick="$(this).parent().parent().parent().css('max-height', 'initial')">查看更多</a> 
                            </p>
                            <div class="article">
                                <p>活动时间：@item.StartTime.ToString("yyyy年MM月dd日") - @(item.EndTime == null ? "" : DateTime.Parse(item.EndTime.ToString()).ToString("yyyy年MM月dd日"))</p>
                                <p>活动地点：@item.Place</p>
                                <p>@Html.Raw(item.Describe)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
</div>