@{
    ViewBag.Title = "相册";
    Layout = null;
}
<style>
    .album-container {
        position: fixed;
        margin: 0px;
        width: 100%;
        overflow: auto;
        background: rgba(0, 0, 0, 0.61);
        top: 0px;
        z-index: 10;
        bottom: 0px;
    }

    .img-item img {
        max-width: 100%;
    }

    .album-container .item {
        padding: 0px;
    }

    .album-container .container-fluid {
        margin: 10px;
    }

    .light-box {
        position: fixed;
        top: 0px;
        z-index: 11;
        width: 100%;
        height: 100%;
        text-align: center;
        background: rgba(0, 0, 0, 0.61);
        display: none;
        padding-top: 80px;
        padding-bottom: 60px;
    }

        .light-box img {
            max-height: 90%;
            margin: 0px auto;
        }

    .album-close {
        position: absolute;
        display: block;
        font-size: 40px;
        cursor: pointer;
        color:#fff;
        right: 10px;
        top: 10px;
    }

    .light-box .album-close {
        right: 80px;
        top: 70px;
    }
    .prev-img{
        font-size:120px;color:#fff;float:left;margin-top:350px;cursor:pointer;
    }
    .next-img{
        font-size:120px;color:#fff;float:right;margin-top:350px;cursor:pointer;
    }
</style>
<div class="album-container" style="overflow-x:hidden;overflow-y:auto;">

    <div class="container-fluid">
        <div class="row" id="album">
            @foreach (var image in Model)
            {
                <div class="col-md-2 item" data-id="@image.Id">

                    <div class="img-item" >

                        <img src="@image.Url" alt="..." data-id="@image.Id">
                    </div>
                </div>
            }
        </div>
    </div>
    <span class="album-close" data-top="true"><i class="fa fa-times-circle-o"></i></span>
    <div id="LightBox" class="light-box">
        <img src="" id="preview" alt="..." data-id="">
        <i class="fa fa-angle-left prev-img"></i>
        <i class="fa fa-angle-right next-img"></i>
        <span class="album-close"><i class="fa fa-times-circle-o"></i></span>
    </div>
</div>

<script src="~/Scripts/masonry.pkgd.min.js"></script>
<script src="~/Scripts/imagesloaded.pkgd.min.js"></script>
<script>
    $(document).ready(function ($) {
        $('#album').imagesLoaded(function () {

            $("#album").masonry();
        });
        $("#album").on("click", "img", function () {
            $("#preview").attr("src", $(this).attr("src")).data("id",$(this).data("id"));
            $("#LightBox").show();
        });
        $(".album-close").click(function () {
            $(this).parent().hide();
            $(this).prev().css("height", "auto");
            //$(document.body).css("overflow", "hidden");
            if ($(this).data("top")) {
                $(document.body).css("overflow", "auto");
            }
        });
        var img = $("#LightBox img");

        var i = 0;

        $("#LightBox").on('mousewheel DOMMouseScroll', 'img', function (e) {

            var ev = window.event || e;//处理浏览器兼容性问题

            var scrollUnit = Math.max(-1, Math.min(1, (ev.wheelDelta || -ev.detail)));

            var newHeight = Math.max(100, Math.min(1600, parseInt($(this).css("height")) + (30 * scrollUnit))) + "px";

            $(this).css("height", newHeight);
        })
        $(".prev-img").click(function () {
            var id = $("#preview").data("id");
            var img = $(".item[data-id='" + id + "']").prev().find("img");
            if (img.length==0) {
                img = $(".item").eq(0).find("img");
            }
            var newId = img.data("id");
            var src = img.attr("src");
            $("#preview").attr("src", src).data("id", newId);
        });
        $(".next-img").click(function () {
            var id = $("#preview").data("id");
            var img = $(".item[data-id='" + id + "']").next().find("img");
            if (img.length == 0) {
                img = $(".item").eq(0).find("img");
            }
            var newId = img.data("id");
            var src = img.attr("src");
            $("#preview").attr("src", src).data("id", newId);
        });
    });
</script>