@{
    Layout = null;
}
<link href='~/Scripts/Hotel/Css/header.css' rel='stylesheet' type='text/css' />
<link href='~/Scripts/Hotel/Css/lantola.css' rel='stylesheet' type='text/css' />
<div class="tope tope_2" style="background-color:white;width:100%;position:absolute;float:left;z-index:10;top:0px;">
    <div class="kuang2">
        <div class="top2">
            <a href="#"><img src="~/Images/lantola-logo.png"></a>
            <div class="login navbar" style="width:auto;height:76px;line-height:76px;border-bottom:none;">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown visible-md visible-lg" style="border-right:solid 1px #e6e2e2;">
                        @if (ViewBag.User != null)
                        {
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" style="line-height:76px;padding:0 20px;font-size:16px;"> @ViewBag.User.Name</a>
                        }
                        else
                        {
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" style="line-height:76px;padding:0 20px;font-size:16px;"> 登录</a>
                        }

                        <ul class="dropdown-menu">
                            @if (ViewBag.User != null)
                            {
                                <li class="">
                                   <a href="/User/Order" target="_blank"><i class="fa fa-reorder"></i> 我的订单</a>
                                </li>
                                <li class="">
                                    <a href="/User/Collection" target="_blank"><i class="fa fa-star"></i> 我的收藏</a>
                                </li>
                                <li class="">
                                    <a href="/User/ApplyInvoice" target="_blank"><i class="fa fa-tags"></i> 发票管理</a>
                                </li>
                                <li class="">
                                    <a href="/User/Info" target="_blank"><i class="fa fa-user"></i> 账户</a>
                                </li>
                            }
                            else
                            {
                                <li class="dropdown-menu-header">
                                    <strong>登录LANTOLA帐户</strong>
                                </li>
                                <li>

                                    @using (Html.BeginForm("Login", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        <input type="text" value="" name="Name" placeholder="请输入用户名" class="denglu3">
                                        <input type="password" name="Password" value="" placeholder="请输入密码" class="denglu4">
                                        <a href="#" style="display:block">
                                            <input type="submit" value="登录" class="denglu5">
                                        </a>
                                        <a href="#" style="display:block;text-align:right;">忘记密码？</a>
                                    }
                                </li>
                            }
                            
                        </ul>
                    </li>

                    <li class="visible-md visible-lg">
                        @if (ViewBag.User != null)
                        {
                            <a href="/User/LoginOut" style="line-height:76px;padding:0 20px;font-size:16px;" class="Register"><i class="fa fa-sign-out"></i> 注销</a>
                        }
                        else
                        {
                            <a href="javascript:;" style="line-height:76px;padding:0 20px;font-size:16px;" class="Register"> 注册</a>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        $(".denglu").click(function () {
            $(".denglu1").css({ 'display': 'block' });
            $(".denglu6").css({ 'display': 'block' });
        })

        $(".denglu6").click(function () {
            $(this).css({ 'display': 'none' });
            $(".denglu1").css({ 'display': 'none' });
        })
        $(".Register").click(function () {

            $(".register-container").slideToggle();
        })
    })
</script>