@{
    Layout = null;
}

<div class="sidebar ">

    <div class="sidebar-collapse">
        <div class="sidebar-header t-center">
            <span><img class="text-logo" src="~/Scripts/assets/img/logo1.png"></span>
        </div>
        <div class="sidebar-menu">
            <ul class="nav nav-sidebar">

                <li><a href="/Hotel/Home/Index" class="active opened"><i class="fa fa-home"></i><span class="text"> 欢迎页 </span></a></li>

                <li>
                    <a href="#"><i class="fa fa-laptop"></i><span class="text"> 基本信息管理</span> <span class="fa fa-angle-down pull-right"></span></a>
                    <ul class="nav sub">
                        <li><a href="/Hotel/Info/Index"><i class="fa fa-building-o"></i><span class="text"> 酒店基本信息</span></a></li>
                        <li><a href="/Hotel/Info/Policy"><i class="fa fa-envelope"></i><span class="text"> 酒店设施及政策</span></a></li>
                        <li><a href="/Hotel/Boardroom/Manage"><i class="fa fa-briefcase"></i><span class="text"> 会议室信息</span></a></li>
                        <li><a href="/Hotel/Info/Restaurant"><i class="fa  fa-cutlery"></i><span class="text"> 餐饮美食</span></a></li>
                        <li><a href="/Hotel/Album/Manage"><i class="fa fa-picture-o"></i><span class="text"> 酒店图片</span></a></li>
                        <li><a href="/Hotel/Info/Map"><i class="fa fa-map-marker"></i><span class="text"> 到达指引</span></a></li>
                    </ul>
                </li>

                <li>
                    <a href="#"><i class="fa fa-list-alt"></i><span class="text"> 房型管理</span> <span class="fa fa-angle-down pull-right"></span></a>
                    <ul class="nav sub">
                        <li><a href="/Hotel/Room/Manage"><i class="fa fa-calendar"></i><span class="text"> 房型列表</span></a></li>
                    </ul>
                </li>
                <li><a href="/Hotel/Activity/Index"><i class="fa fa-birthday-cake"></i><span class="text"> 活动 </span></a></li>
                <li><a href="/Hotel/Comment/Index"><i class="fa fa-home"></i><span class="text"> 点评管理 </span></a></li>

                <li>
                    <a href="#"><i class="fa fa-gavel"></i><span class="text"> 订单管理</span> <span class="fa fa-angle-down pull-right"></span></a>
                    <ul class="nav sub">
                        <li><a href="/Hotel/Order/Index"><i class="fa fa-file-text-o"></i><span class="text"> 待处理订单（当日） </span></a></li>
                        <li><a href="/Hotel/Order/Index"><i class="fa fa-list-ul"></i><span class="text"> 待处理订单（所有）</span></a></li>
                        <li><a href="/Hotel/Order/Index"><i class="fa fa-file-text-o"></i><span class="text"> 订单列表（当日）</span></a></li>
                        <li><a href="/Hotel/Order/Index"><i class="fa fa-list-ul"></i><span class="text"> 订单列表（所有）</span></a></li>
                    </ul>
                </li>

                <li>
                    <a href="#"><i class="fa fa-bar-chart-o"></i><span class="text"> 数据中心</span> <span class="fa fa-angle-down pull-right"></span></a>
                    <ul class="nav sub">
                        <li><a href="#"><i class="fa fa-car"></i><span class="text"> 数据看板</span></a></li>
                    </ul>
                </li>

                <li>
                    <a href="#"><i class="fa fa-rmb"></i><span class="text"> 财务结算</span> <span class="fa fa-angle-down pull-right"></span></a>
                    <ul class="nav sub">
                        <li><a href="/Hotel/Bill/Account"><i class="fa fa-edit"></i><span class="text"> 账户信息</span></a></li>
                        <li><a href="/Hotel/Bill/History"><i class="fa fa-check-square-o"></i><span class="text"> 账单核对</span></a></li>
                        <li><a href="/Hotel/Bill/Settlement"><i class="fa fa-book"></i><span class="text"> 账单结算</span></a></li>
                    </ul>
                </li>

                <li>
                    <a href="#"><i class="fa fa-gear"></i><span class="text"> 系统设置</span> <span class="fa fa-angle-down pull-right"></span></a>
                    <ul class="nav sub">
                        <li><a href="/Hotel/Config/Password"><i class="fa fa-key"></i><span class="text"> 修改密码</span></a></li>
                        <li><a href="/Hotel/Config/Subaccount"><i class="fa fa-group"></i><span class="text"> 子账号设置</span></a></li>
                        <li><a href="/Hotel/Config/Log"><i class="fa fa-bug"></i><span class="text"> 日志管理</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="sidebar-footer">

        <div class="sidebar-brand">
            Lantola
        </div>

        <ul class="sidebar-terms">
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">About</a></li>
        </ul>

        <div class="copyright text-center">
            <small>Lantola <i class="fa fa-coffee"></i> from <a href="http://www.lantola.com/" title="朗拓拉" target="_blank">朗拓拉</a></small>
        </div>
    </div>
</div>